.navbar {
    border-radius: 0px !important;
}

.signup-or-separator {
	background: none;
	height: 34px;
	position: relative;
	text-align: center;
}

.signup-or-separator-text {
	background-color: #fff;
	display: inline-block;
	padding: 8px;
}

 .h6 {
	font-size: 14px;
	font-weight: bold;
	color: #757575;
	line-height: 1.1;
	text-rendering: optimizelegibility;
}

.signup-or-separator hr {
    margin: -25px auto 10px;
    width: 100%;	
 }

@media screen and (max-width: 480px){
    .pull-right-md {
        float: left;
    }
}

@media screen and (min-width: 769px) {
    .pull-right-md {
        float: right;
    }
}

.frgt-pswd
{
	margin: 5px 0 10px;
}